In [1]:
import numpy as np
dtypes = [('emp_id', int), ('last_name', 'U20'), ('first_name', 'U20'), ('gender', 'U20'), ('Title', 'U20')]

employee_table = np.array([], dtype=dtypes)
emp1 = (1000, "Trbati", "Yolanda", "F", "Programmer")
emp2 = (1001, "Kleinn", "Joel", "M", "Programmer")
emp3 = (1002, "Ginsburg", "Laura", "F", "President")
emp4 = (1003, "Cox", "Jennifer", "F", "Programmer")
emp5 = (1005, "Ziada", "Mauri", "M", "Product Designer")
emp6 = (1006, "Keyser", "Cara", "F", "Account Executive")
emp7 = (1010, "Smith", "Roxie", "M", "Programmer")
emp8 = (1011, "Nelson", "Robert", "M", "Programmer")
emp9 = (1012, "Sachsen", "Lars", "M", "Support Technician")
emp10 = (1013, "Shannon", "Don", "M", "Product Designer")

employee_table = np.append(employee_table, np.array([emp1, emp2, emp3,emp4,emp5,emp6,emp7,emp8,emp9,emp10], dtype=dtypes))
print(employee_table)

[(1000, 'Trbati', 'Yolanda', 'F', 'Programmer')
 (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [2]:
import numpy as np
dtypes = [('emp_id', int), ('last_name', 'U20'), ('first_name', 'U20'), ('gender', 'U20'), ('Title', 'U20')]
employee_table = np.array([], dtype=dtypes)
emp1 = (1000, "Trbati", "Yolanda", "F", "Programmer")
emp2 = (1001, "Kleinn", "Joel", "M", "Programmer")
emp3 = (1002, "Ginsburg", "Laura", "F", "President")
emp4 = (1003, "Cox", "Jennifer", "F", "Programmer")
emp5 = (1005, "Ziada", "Mauri", "M", "Product Designer")
emp6 = (1006, "Keyser", "Cara", "F", "Account Executive")
emp7 = (1010, "Smith", "Roxie", "M", "Programmer")
emp8 = (1011, "Nelson", "Robert", "M", "Programmer")
emp9 = (1012, "Sachsen", "Lars", "M", "Support Technician")
emp10 = (1013, "Shannon", "Don", "M", "Product Designer")
employee_table = np.append(employee_table, np.array([emp1, emp2, emp3, emp4, emp5, emp6, emp7, emp8, emp9, emp10], dtype=dtypes))
male_employee_count = np.sum(employee_table['gender'] == 'M')
print("Number of Male Employees:", male_employee_count)
s_emp = employee_table[np.char.startswith(employee_table['last_name'], 'S')]
print(s_emp)
female_employees = employee_table[employee_table['gender'] == 'F']
sorted_female_employees = female_employees[np.argsort(female_employees['first_name'])[::-1]]
for emp in sorted_female_employees:
    print(emp)

Number of Male Employees: 6
[(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]
(1000, 'Trbati', 'Yolanda', 'F', 'Programmer')
(1002, 'Ginsburg', 'Laura', 'F', 'President')
(1003, 'Cox', 'Jennifer', 'F', 'Programmer')
(1006, 'Keyser', 'Cara', 'F', 'Account Executive')

In [3]:
sorted_female_employees = female_employees[np.argsort(female_employees['first_name'])[::-1]]
for emp in sorted_female_employees:
    print(emp)

(1000, 'Trbati', 'Yolanda', 'F', 'Programmer')
(1002, 'Ginsburg', 'Laura', 'F', 'President')
(1003, 'Cox', 'Jennifer', 'F', 'Programmer')
(1006, 'Keyser', 'Cara', 'F', 'Account Executive')

In [4]:
male_employee_count = np.sum(employee_table['gender'] == 'M')
print("Number of Male Employees:", male_employee_count)
s_emp = employee_table[np.char.startswith(employee_table['last_name'], 'S')]
print(s_emp)
female_employees = employee_table[employee_table['gender'] == 'F']

Number of Male Employees: 6
[(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [5]:

one_dim_array = employee_table.view(np.ndarray).ravel()
two_dim_array = one_dim_array.reshape(-1, 5) 
print("2D Array:")
print(two_dim_array)

2D Array:
[[(1000, 'Trbati', 'Yolanda', 'F', 'Programmer')
  (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
  (1002, 'Ginsburg', 'Laura', 'F', 'President')
  (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
  (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')]
 [(1006, 'Keyser', 'Cara', 'F', 'Account Executive')
  (1010, 'Smith', 'Roxie', 'M', 'Programmer')
  (1011, 'Nelson', 'Robert', 'M', 'Programmer')
  (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
  (1013, 'Shannon', 'Don', 'M', 'Product Designer')]]

In [6]:
start_emp_id = 1002
end_emp_id = 1012
mask = (employee_table['emp_id'] >= start_emp_id) & (employee_table['emp_id'] <= end_emp_id)
columns_to_extract = ['emp_id', 'last_name', 'Title']
filtered_data = employee_table[mask][columns_to_extract]
print(filtered_data)

[(1002, 'Ginsburg', 'President') (1003, 'Cox', 'Programmer')
 (1005, 'Ziada', 'Product Designer') (1006, 'Keyser', 'Account Executive')
 (1010, 'Smith', 'Programmer') (1011, 'Nelson', 'Programmer')
 (1012, 'Sachsen', 'Support Technician')]